@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Barlow&family=DM+Sans:ital,wght@1,500&family=Manrope:wght@500&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Nunito:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fafafa;
  --main-color: #0ef;
}

body.darkMode {
  background: var(--text-color);
  color: var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header h2 {
  width: 91px;
}

.logo {
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar a:hover,
.navbar a.active {
  color: #0ef;
}

.navbar .toggle_btn {
  color: var(--text-color);
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

/* Bottom mode dark */

.container {
  background-color: var(--second-bg-color);
  position: relative;
  width: 58px;
  height: 31px;
  margin: 0;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.container1 {
  background-color: var(--second-bg-color);
  position: relative;
  width: 58px;
  height: 33px;
  margin: 0;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.toggle {
  background-color: #343d5b;
  position: relative;
  width: 58px;
  height: 31px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.toggle:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

/* indicar fondo del boton sera naranja */
.toggle.active {
  background: var(--second-bg-color);
  color: var(--text-color);
}

.toggle.active:after {
  right: 0;
  left: unset;
  margin-left: 9px;
  margin-top: 1px;
}

.toggle span {
  line-height: 30px;
  display: block;
  background: none;
  margin-left: 10.5px;
  margin-top: 1px;
}

#menu-icon {
  font-size: 3.6rem;
  display: none;
}

.dropdown_menu {
  position: absolute;
  right: 1px;
  top: 100px;
  height: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bottom mode dark FIN */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-img img {
  max-width: 450px;
  border-radius: 150px;
  opacity: 0;
  animation:
    zoomIn 1s ease forwards,
    floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.6s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 20px #0ef;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideBtn 1s ease forwards;
  animation-delay: 0.7s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideBtn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ######### About Me #################*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about__img {
  border-radius: 25px;
}

.about img {
  width: 35vw;
  border-radius: 25px;
  margin: 4rem 2rem 5rem;
  border: 5px solid var(--main-color);
}

.about-tittle {
  text-align: center;
  font-size: 4.5rem;
}

.about__content h2 {
  text-align: left;
  line-height: 1.2;
}

.about__content h2 span {
  color: var(--main-color);
}

.about__content h3 {
  font-size: 2.6rem;
}

.about__content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* ######### Skill #################*/
.services h2 {
  font-size: 2.5rem;
  text-align: center;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.5s;
}

.services h2 span {
  color: var(--second-bg-color);
}

.services-container {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 50px 300px 20px 300px;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-box {
  padding: 1rem 2rem 1rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid;
  transition: 0.5s ease;
}

.services-box .service-img {
  width: 50px;
  height: 50px;
}

.services-container .services-box:hover {
  transform: scale(1.09);
  background-color: azure;
  color: black;
}

/* Bar progress */
.bar-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.bar__skills h2 {
  width: 0px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 16px;
}

.progress-bar {
  width: 600px;
  height: 10px;
  border-radius: 5px;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 50%;
}

.progress-bar div span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float: right;
  margin-top: -5px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  background: #e91e63;
  animation: html 1s linear forwards;
}

.css {
  background: #cddc39;
  animation: css 1s linear forwards;
}

.javascript {
  background: #00bcd4;
  animation: javascipt 1s linear forwards;
}

.php {
  background: #246c9c;
  animation: javascipt 1s linear forwards;
}

.react {
  background: #9c27b0;
  animation: react 1s linear forwards;
}

.html span {
  background: #e91e63;
}

.css span {
  background: #cddc39;
}

.javascript span {
  background: #00bcd4;
}

.php span {
  background: #246c9c;
}

.react span {
  background: #9c27b0;
}

@keyframes html {
  100% {
    width: 90%;
  }
}

@keyframes css {
  100% {
    width: 80%;
  }
}

@keyframes javascipt {
  100% {
    width: 70%;
  }
}

@keyframes php {
  100% {
    width: 40%;
  }
}

@keyframes react {
  100% {
    width: 46%;
  }
}

/* ################ Projects ################*/

.projectTitle {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
}

.carrusel {
  margin: 100px auto;
  width: 90%;
  display: flex;
  overflow: auto;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.wrapCard {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 20s infinite linear;
  padding-right: 1em;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -50%;
  }
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  margin: 15px 20px;
}

.card:hover {
  box-shadow: 0 5px 30px rgba(61, 227, 233, 0.838);
  transform: translateY(-15px);
}

.card .head {
  height: 30px;
  width: 100%;
  position: relative;
}

.card .head .img {
  width: 290px;
  height: 235px;
  margin-left: 30px;
  position: absolute;
  /* background: #fff;*/
  padding: 10px;
  border-radius: 50%;
}

.card .head .img img {
  width: 80%;
  height: 80%;
  border-radius: 20%;
  object-fit: fill;
  border-bottom: solid 3px rgba(6, 74, 76, 0.18);
}

.card .description {
  height: 200px;
  padding: 60px 20px 20px 20px;
  border-bottom: solid 2px rgba(6, 74, 76, 0.18);
  text-align: center;
  margin-top: 100px;
}

.card .description h3 {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 500px;
}

.card .description h4 {
  font-size: 13px;
  color: var(--bg-color);
}

.card .description p {
  margin-top: 20px;
  font-size: 15px;
  color: var(--second-bg-color);
}

.card .contact {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.card .contact a {
  text-decoration: none;
  color: var(--text-color);
  background: var(--second-bg-color);
  padding: 0px 12px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 3px;
}

.card .contact a:hover {
  background: var(--second-bg-color);
}

/* ################ contac ################*/

.contact h2 {
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.contact form {
  max-width: 50rem;
  margin: 0.5rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.6s ease;
  border: 0.5rem solid;
}

.contact form .btn:hover {
  border-color: var(--second-bg-color);
  transform: scale(1.7);
}

/*################### Footer ##################*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
}

.footer__text {
  font-size: 1.6rem;
}

.footer__iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer__iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer__iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* ############## Responsive ############### */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .services-box h3 {
    font-size: 1.5rem;
  }

  .bar__skills h2 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 5rem 3%;
  }

  section {
    padding: 9rem 3% 2rem;
  }

  .home img {
    max-width: 300px;
  }

  .home-content {
    max-width: 400px;
  }

  .services .heading {
    font-size: 5rem;
  }

  .bar-container {
    margin-bottom: 5rem;
  }

  .bar__skills h2 {
    margin-top: 11px;
  }

  .portfolio .project {
    font-size: 5rem;
  }

  .contact .contact__me {
    font-size: 5rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  .navbar .links {
    display: none;
  }

  .header .navbar .toggle_btn {
    display: block;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 0.5rem 10%;
  }

  .dropdown_menu li {
    height: 45px;
  }

  .dropdown_menu li a {
    font-size: 20px;
    font-family: cursive;
  }

  .home {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  .home-content {
    width: 300px;
    padding-left: 0px;
  }

  .home-content p {
    width: 290px;
  }

  .home-content h3 {
    font-size: 2rem;
  }

  .home-content h1 {
    font-size: 2.7rem;
  }

  .social-media {
    width: 290px;
    height: 50px;
  }

  .social-media a {
    width: 30px;
    height: 28px;
    font-size: 15px;
    margin: 10px 15px 13px 0;
  }

  .btn {
    padding: 8px 20px;
    font-size: 10px;
  }

  .home-img {
    margin-left: 19px;
  }

  .home-img img {
    display: none;
  }

  /***********       ABOUT     ********  */

  .about {
    padding-left: 59px;
    width: 325px;
    flex-direction: column;
    margin-top: -400px;
  }

  .about__img {
    margin-left: 45px;
  }

  .about__content {
    width: 280px;
    text-align: center;
    margin-left: 40px;
  }

  .about__content h2 {
    font-size: 3rem;
    text-align: center;
  }

  .about__content h3 {
    font-size: 2rem;
  }

  /************ SKILL ***********************/
  .services {
    padding-left: 0px;
    padding-right: 0px;
    width: 400px;
  }

  .services-container {
    width: 400px;
  }

  .bar__skills {
    margin-left: 50px;
  }

  .services .progress-bar {
    width: 260px;
  }

  .services-container .services-box {
    padding: 1rem 1rem 1rem;
  }

  /* projects */
  .portfolio {
    width: 400px;
    margin-left: 0px;
  }

  .portfolio .project {
    font-size: 4rem;
  }

  .portfolio-container {
    display: gid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 72px;
  }

  .portfolio-container .portfolio__box {
    width: 250px;
  }

  .portfolio__box img {
    width: 70%;
    border-radius: 4rem;
    margin-left: 4rem;
  }

  /***************** CONTACTO ****************/
  .contact {
    margin-left: 73px;
    width: 275px;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    margin-left: 60px;
    width: 300px;
  }
}

@media (max-width: 375px) {
  .header {
    width: 375px;
  }

  .home-content {
    width: 300px;
    padding-left: 16px;
  }

  .home-content p {
    width: 275px;
  }

  .social-media {
    height: 60px;
  }

  .about__img {
    margin-left: 13px;
  }

  .home-img img {
    margin-bottom: 80px;
  }

  .home-content h1 {
    color: yellow;
  }

  .about {
    padding-left: 40px;
    width: 365px;
  }

  .about__img {
    display: block;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .progress-bar {
    width: 250px;
    font-size: 20px;
  }

  .project {
    width: 100px;
  }

  .portfolio h2 {
    width: 370px;
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio-container .portfolio__box {
    width: 280px;
  }

  .portfolio__box .portfolio__layer {
    width: 315px;
  }

  .contact {
    width: 330px;
    margin-left: 32px;
  }

  .contact__me {
    font-size: 4rem;
    width: 300px;
  }

  .contact form {
    width: 300px;
  }

  .footer {
    width: 300px;
  }
}

@media (max-width: 320px) {
}
